[flake8]
ignore = B008, W503
max-line-length = 88
exclude =
    __pycache__,
    .git,
    .dvc,
    .mypy_cache,
    .pytest_cache,
    .venv
per-file-ignores =
    tests/*: D
pep585-activation = always
